{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "declaration-block-trailing-semicolon": "always",
    "max-nesting-depth": 3,
    "no-duplicate-selectors": true,
    "selector-class-pattern": "^[a-z][a-zA-Z0-9-]+$",
    "selector-id-pattern": "^[a-z][a-zA-Z0-9-]+$",
    "property-no-unknown": true,
    "value-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "single",
    "indentation": "tab"
  }
}
